body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-size: 90px;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;
}
hr{
    border: dotted #eaf6f6;
    border-width: 6px 0 0 0;
    width: 5%;
    margin: 100px auto;    
 
}
.intro{
    width: 30%;
    margin: auto;
}
.top{

    background-color: #cffffe;
    position: relative;
    padding-top: 100px;
   }
.middle-container{
       margin: 100px 0;
   }


.cloud-bottom{
    position: absolute;
    left:300px;
    bottom:300px;
}
.cloud-top{
    position: absolute;
    right:300px;
    top:50px;
}
.footer-link{
    color: #11999E;
}

.skill-row{
    width: 50%;
    margin:100px auto;
    text-align: left;
    

}
.code{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.football{
    width:25%;
    float: right;
    margin-left: 30px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 30px 0 20px;

}
a{
    color: #11999E;
    text-decoration: none;
    margin: 20px 20px;
}
a:hover{
    color: #eaf6f6;
}